<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Create your custom set
      </h1>
    </header>

    <main>
      <div id="form">
        <form method="get" action="/set">
          <select name="size">
            <option value="1">1 column</option>
            <option value="2" selected>2 columns</option>
            <option value="3">3 columns</option>
            <option value="4">4 columns</option>
            <option value="5">5 columns</option>
          </select>
          <input name="outfit" type="text" maxlength="100" placeholder="Search for your outfit">
          <input name="backpack" type="text" maxlength="100" placeholder="Search for your backpack">
          <input name="pickaxe" type="text" maxlength="100" placeholder="Search for your pickaxe">
          <input name="glider" type="text" maxlength="100" placeholder="Search for your glider">
          <input name="wrap" type="text" maxlength="100" placeholder="Search for your wrap">
          <input name="emote" type="text" maxlength="100" placeholder="Search for your emote">
          <input name="loading" type="text" maxlength="100" placeholder="Search for your loading">
          <input name="skydive" type="text" maxlength="100" placeholder="Search for your skydive">
          <input name="banner" type="text" maxlength="100" placeholder="Search for your banner">
          <button type="submit" id="form-outfit">Create Image</button>
        </form>
      </div>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
